/*reset*/
html, body, header, h1, ul, li, textarea, span, div, a, input, button, label {
    margin: 0;
    padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "Lora-Regular", "Open Sans", Times, serif;
	color: #605B5B;
	background-color: #FFFFFF;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 480px;
  /*height: 1200px;*/
}

a {
	text-decoration: none;
}

h1 {
	font-family: Ubuntu-BoldItalic;
	font-size: 2.14em;
}

header {
	width: 100%;
	padding: 40px 0 20px;
	border-top: 8px solid #333;
	background-color: #27494b;
}

header div:not(.page-container) {
	display: inline;
}

#container-logo {
	width: 10%;
	/*height: 55px;*/
}

/*#container-logo img {
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}*/

#header-container-nav {
	float: right;
	width: 16%;
	height: auto;
	min-height: 30px;
	margin: 0 10% 0 0;	
}

#header-container-nav div {
	position: absolute;
	top: 10px;
	display: inline;
}

div[id^="nav-btn-"]:hover {
	background-color: #A0AEC1;
	cursor: pointer;
	color: white;
}

#header-container-nav > div[id^="nav-btn-"] {
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding: 5px 13px 8px;
	background-color: #E9EAEE;
}


#nav-btn-login {
	border-bottom-left-radius: 10px;
	border-right: 2px;
	border-right-style: ridge;
}

#nav-btn-register {
	border-bottom-right-radius: 10px;
}

/*---------LOGIN CSS---------*/

.page-container {
	background-color: #DBE8F9;
}

.left_col {
	padding: 20px;
	width: 70%;
	min-width: 420px;
}

div[id*="nav-menu"] {
	font-size: 0.71em;
	color: #c8c8c8;
}

div[id*="nav-menu"] a {
	color: #8e8e8e;
}

.entry {
	width: 60%;
	display: inline-block;
	border-top: dashed #ffb739 1px;
}

div[class^="placeholder"] {
	margin: 10px;
}

.entry label {
	font-size: 1.2em;
	width: 100px;
}

.entry input, table input {
	width: 200px;
	border-radius: 5px;
	border: solid 1px #ddd;
}

#btn-login button {
	width: 100%;
	border-radius: 5px;
	border: solid 1px #ddd;
	background-color: #A0AEC1;
}

#btn-login label {
	float: left;
	color: #FFFFFF;
}

#btn-login img, #btn-register img {
	width: auto;
	height: 90%;
	margin-right: 5px;
	vertical-align: middle;
	float: right;
}

/*---------REGISTER CSS---------*/
.entry-register {
	width: 70%;
	display: inline-block;
	border-top: dashed #ffb739 1px;
}

.entry-register table {
	width: 100%;
}

.entry-register td {
	width: 49%;
}

.entry-register label{
	padding: 5px 5px 0 0;
}

#btn-register button {
	width: 100%;
	border-radius: 5px;
	border: solid 1px #ddd;
	background-color: #A0AEC1;
}

#btn-register label {
	padding: 0;
	width: 100px;
	font-size: 1.2em;
	float: left;
	color: #FFFFFF;
}

#btn-register {
	margin: 10px 0 0 0;
}

/*---------Display AllAds & filters CSS---------*/
ul {
	list-style: none;
}

.content-container {
	width: 100%;
}

.content-container > .left_col {
	float: left;
}

.right_col {
	width: 25%;
	min-width: 80px;
	float: right;
}

#all-ads-visiolizer div:not(class*=["ad"]) {
	display: inline;
}

#display-all-ads-container {
	height: 100%;
}

ul.pagination {
	position: relative;
	left: 34%;
}

/*---------single Ad Display CSS---------*/
ul div{
	display: block;
	
	width: 100%;
}

.left_col_fullWidth {
	width: 100%;
}

ul li {
	margin: 0 auto;
	margin-top: 50px;
	width: 96%;
}

.ad-container {
	border: 1px solid #000;
	padding-bottom: 20px; 
}

.ad-title > *, .ad-content > * {
	display: inline-block;
}

.ad-title > .left_col {
	margin: 0;
	padding: 10px;
}

.ad-title span {
	/*margin-top: auto;*/
	vertical-align: bottom;
	text-align: center;
	float: right;
}

.ad-title, .ad-content {
	width: 100%;
}

.ad-content {
	border-top:  1px solid #000;
}

.left-container {
	vertical-align: top;
	width:30%;
	height: 100%;
}

.center-container {
	vertical-align: top;
	width:59%;
}

.center-container p {
	padding: 2px;
}

.center-container > table {
	width: 100%;
}

td.left {
	width: 25%;
	padding: 2px;
}

.right-container {
	vertical-align: top;
	width:9%;
}

.img-container {
	max-width: 150px;
	height: auto;
	margin: auto;
	vertical-align: middle;
}

.img-container img {
	width: 100%;
	height: 100%;
}

#display-filters {
	margin-top: 20px; 
}

/*-------Logo Animation-------*/
.animated { 
    -webkit-animation-duration: 1.4s; 
    animation-duration: 1.4s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}