<ul class="left_col_fullWidth">
	<img src="img/loading.gif" ng-hide="ready" width="150px">
	<li ng-repeat="ad in adsData.ads" ng-cloack >
		<div class="ad-container">
			<div class="ad-title">
				<h3 class="left_col"><strong>{{ad.title}}</strong></h3>
				<span class="right_col">{{ad.date | date: 'dd-MMM-yyyy'}}</span>
			</div>
			<div class="ad-content">
				<div class="left-container">
					<div class="img-container">
						<img src="" ng-src="{{ad.imageDataUrl}}">
					</div>
				</div>
				<div class="center-container">
					<p>{{ad.text}}</p>
					<table>
						<tr>
							<td class="left">
								Posted by:
							</td>
							<td>
								{{ad.ownerName}}
							</td>
						</tr>

						<tr>
							<td class="left">
								Email:
							</td>
							<td>
								{{ad.ownerEmail}}
							</td>
						</tr>

						<tr>
							<td class="left">
								Phone:
							</td>
							<td>
								{{ad.ownerPhone}}
							</td>
						</tr>
					</table>
				</div>
				<div class="right-container">
					<div class="content-container">

					</div>
				</div>
				<pagination 
					page="currentPage" 
					ng-model="startPage" 
					total-items="adsData.numItems" 
					ng-change="pageChanged()" 
					items-per-page="pageSize">
				</pagination>
			</div>
		</div>
	</li>
</ul>