<section>
  <div class="form-container">
    <div class="left_col">
      <h1>User Register</h1>
      <div id="register-nav-menu"><a href="#">Home</a> / User Registration</div>
      <div class="entry-register">
        <table>
          <tr>
            <td>
              <label for="username">Username: </label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="username" type="text" id="input-register-username">
              </td>
          </tr>

          <tr>
            <td>
              <label for="password">Password: </label>
            </td>
            <td>
              <label for="password-confirmation">Confirm password: </label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="password" type="password" id="input-register-password">
            </td>
            <td>
              <input name="password-confirmation" type="password" id="input-register-password-confirmation">
            </td>
          </tr>

          <tr>
            <td>
              <label for="name">Name: </label>
            </td>
            <td>
              <label for="email">Email: </label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="name" type="text" id="input-register-name"> 
            </td>
            <td>
              <input name="email" type="email" id="input-register-email">
            </td>
          </tr>

          <tr>
            <td>
              <label for="phoneNumber">Phone: </label>
            </td>
            <td>
              <label for="town">Town: </label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="phoneNumber" type="text" id="input-register-phoneNumber">
            </td>
            <td>
              <input name="town" type="text" id="input-register-town">
            </td>
          </tr>
        </table>
      <!-- 
        <div class="placeholder">
          <label for="username">Username: </label></br><input name="username" type="text" id="input-register-username"><br>
        </div>

        <div class="placeholder">
          <label for="password">Password: </label></br><input name="password" type="text" id="input-register-password">
          <label for="password">Confirm password: </label></br><input name="password" type="text" id="input-register-password">
        </div>

        <div class="placeholder">
          <label for="name">Name: </label></br><input name="name" type="text" id="input-register-name">  
          <label for="email">Email: </label></br><input name="email" type="text" id="input-register-email">
        </div>

        <div class="placeholder">
          <label for="phoneNumber">Phone: </label></br><input name="phoneNumber" type="text" id="input-register-phoneNumber">  
          <label for="town">Town: </label></br><input name="town" type="text" id="input-register-town">  
        </div>
   -->
        <div class="placeholder-btn" id="btn-register">
          <button>
            <label for="btn-register">Register</label>
            <img src="img/btn-icons/ctrl-login.png">
          </button>
        </div>

        <div class="placeholder">
        <p>Memeber?  <a href="#/login">Login</a></p>
        </div>
      </div>
    </div>    
  </div>
</section>